.Landingpage {
}

.Landingpage .button {
	font-family: 'RobotoCondensed Regular', sans-serif;
	text-decoration:none;
	color:#ffffff;
	background-color:#c20831;
	cursor:pointer;
	width:180px;
  height: 2em;
	margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Landingpage .button:hover {
	background-color:#e4003a;
}