.Ending {
  }

.Ending p {
  margin-bottom: 20px;
  max-width:600px;
}
.Ending .button {
  background-color:#c20831;
	cursor:pointer;
	color:#ffffff;
	display:inline-block;
  width:180px;
  margin: 6px;
  padding: 8px 0 8px 0;
	text-decoration:none;
  animation: App-logo-spin infinite 20s linear;
}
.button:hover {
	background-color:#e4003a;
}