.Running {
  }

.anzeige, .btnbar, .points {
  font-family: 'RobotoCondensed Regular', sans-serif;
  width:100%;
  color: white;
}

.points {
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: center;
  color: white;
  margin-bottom:4px;
}

.anzeige {
  margin: 6px 0 6px 0;
  }

.btnbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 0 4px 0;
}
.btnbar .btn {
  cursor:pointer;
	color:#ffffff;
  width:46%;
  max-width:220px;
  margin: 2px;
  text-decoration:none;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#svgMap {
  font-family: 'RobotoCondensed Regular';
  max-height: 100%;
  max-width: 100%;
}

.mapText {
  font: 'RobotoCondensed Regular';
  fill: grey;
  text-shadow:1px 1px 0px white;
  font-size:1.3em;
}
.point {
  margin-left: 4px;
  border-radius:50%;
  width: 1em;
  height: 1em;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .mapText {
    font: 'RobotoCondensed Regular';
    fill: grey;
    font-size:1.1em;
    
  }
}