.Header {
  display:flex;
  align-items:center;
  flex-direction: colulmn;
  justify-content: center;
  background: white;
  width: 100%;
  height:40px;
  border-bottom: 2px solid #c00008;
  overflow:hidden;
}
.Logoheader {
  width:180px;
}